* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom right, rgba(216, 175, 122, 0.329), rgb(240, 127, 21));
    min-height: 100vh;
}

.opening {
    box-shadow: 3px 3px 15px -4px rgb(0,0,0,.6);
}

.welcome {
    min-height: 20vh;
}

.welcome-text {
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.instructions {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}

.col, .col-6, .col-2 {
    padding: 1rem;
    border-radius: 10px;
}

.col-2 {
    padding: .6rem;
}

.col-4 {
    font-size: 1.3rem;
}

.category-row>.col-2, .difficulty>.col-2, .type>.col-3, .type>.col-2, .answers>.col {
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-out;
    font-size: 1.8rem;
}

.selected, .correct {
    background-color: rgba(64, 173, 64, 0.781);
}

.incorrect{
    background-color: rgba(192, 38, 38, 0.75);
}

.next {
    margin-right: 2rem;
}

.attribution {
    font-size: .9rem;
}

a {
    color: rgb(0,0,0,.6);
}

a:visited {
    color: rgb(151, 6, 30);
}

.underline {
    border-bottom: 2px solid white;
    margin-bottom: 2rem;
}

.difficulty, .type {
    margin-top: 2rem;
}

.difficulty>.col-2, .type>.col-3, .type>.col-2 {
    border-radius: 10px;
    padding: .3rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.question {
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 7rem 0;
}

.progress {
    font-size: 1rem;
    min-height: 2rem;
    display: flex;
    justify-content: center;
    margin-top: .4rem;
    background-color: inherit;
}

.result {
    min-height: 3rem;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.wrong {
    color: red;
}

.right {
    color: rgb(28, 134, 28);
}

.submit-row {
    display: flex;
    justify-content: center;
}

.adulation {
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
}

.evaluation {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}

.excellent {
    background-color: green;
    color: white;
}

.good {
    background-color: yellowgreen;
}

.mediocre {
    background-color: rgba(190, 140, 46, 0.877);
}

.awful {
    background-color: red;
    color: white;
}

.giphy {
    display: flex;
    justify-content: center;
}

.category:hover, .top:hover, .bottom:hover {
    cursor: pointer;
}