* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom right, rgba(216, 175, 122, 0.329), rgb(240, 127, 21));
    min-height: 100vh;
}

.opening {
    box-shadow: 3px 3px 15px -4px rgb(0,0,0,.6);
}

.welcome {
    min-height: 20vh;
}

.welcome-text {
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.instructions {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}

.col {
    padding: 1rem;
    border-radius: 10px;
}

.category-row>.col {
border: 2px solid white;
display: flex;
justify-content: center;
align-items: center;
transition: background-color 0.2s ease-out;
}

.selected {
    background-color: rgba(64, 173, 64, 0.781);
}

.question-row {
    height: 300px;
}

.correct {
    background-color: aquamarine;
    border: 2px darkgreen solid;
}

.incorrect {
    background-color: rgb(228, 72, 72);
    border: 2px darkred solid;
}

.question-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.next {
    margin-right: 2rem;
}

.attribution {
    font-size: .9rem;
}

a {
    color: rgb(0,0,0,.6);
}

a:visited {
    color: rgb(151, 6, 30);
}